<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vtitan.patnershipcricketleague">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PatnershipCricketLeague"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.MatchDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.PatnershipCricketLeague.NoActionBar" />
        <activity
            android:name=".activity.TeamDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.PatnershipCricketLeague.NoActionBar" />
        <activity
            android:name=".activity.NewTournamentActivity"
            android:exported="false"
            android:theme="@style/Theme.PatnershipCricketLeague.NoActionBar" />
        <activity
            android:name=".activity.TournamentSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.PatnershipCricketLeague.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.PatnershipCricketLeague.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:label="@string/txt_tournment"
            android:theme="@style/Theme.PatnershipCricketLeague.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan" />
    </application>

</manifest>